# Python virtual environment
venv/
env/
.env/

# Utility scripts
utilities/


# Jupyter Notebook
.ipynb_checkpoints

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Logs
*.log

# OS specific files
.DS_Store
Thumbs.db

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Specific data files
notebooks/fixed_width.txt
notebooks/large_sample_data.csv
notebooks/no_header.xlsx
notebooks/rename_notebooks.sh
notebooks/sample_data.csv
notebooks/sample_data.xlsx
notebooks/sample_multi_sheet.xlsx
notebooks/sample.csv
notebooks/sample.dta
notebooks/sample.h5
notebooks/sample.html
notebooks/sample.json
notebooks/sample.parquet
notebooks/sample.pkl
notebooks/styled_dataframe.html

# Notebook checking scripts
check_notebooks.py
fix_notebooks.py
